<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>株式会社　H　カード</title>
<!-- Bootstrap -->
<link href="css/bootstrap-4.0.0.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"><a class="navbar-brand" href="#">カードサイト</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"> <a class="nav-link" href="#">お手続き <span class="sr-only"></span></a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">お問い合わせ</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">加盟店のお客様</a> </li>
        </ul>
    </div>
</nav>
<hr>
<div class="alert-danger text-center">
    <P class="card-text">お支払口座登録・変更情報のご確認</p>
</div>
<div class="container">
    <div class="row text-center"> </div>
    <hr>
    <div class="row card-header">お支払口座について</div>
    <div class="container">
        <div class="row">
            <div class="col-3 bg-aqua">
                <p>
                <ul class="list-inline">
                    <li class="list-inline-item">金融機関名</li>
                    <li class="list-inline-item"><img class="card-img card-img-top" src="images/icon_required.gif" alt="必須"></li>
                </ul>
                </p>
            </div>
            <div class="col-5 bg-lemonchiffon">
                    <label>
                        <p th:if="${session.bankcd} == '1'">三菱ＵＦＪ</p>
                        <p th:if="${session.bankcd} == '2'">三井住友</p>
                        <p th:if="${session.bankcd} == '3'">みずほ</p>
                        <p th:if="${session.bankcd} == '4'">りそな</p>
                        <p th:if="${session.bankcd} == '5'">埼玉りそな</p>
                    </label>
            </div>
            <div class="col-4 bg-lemonchiffon">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3 bg-aqua">
                <p>
                <ul class="list-inline">
                    <li class="list-inline-item">支店・出張所コード</li>
                    <li class="list-inline-item"><img class="card-img card-img-top" src="images/icon_required.gif" alt="必須"></li>
                </ul>
                </p>
            </div>
            <div class="col-4 bg-lemonchiffon">
                <label>
                    <p th:text="${session.bchcd}"></p>
                </label>
            </div>
            <div class="col-5 bg-lemonchiffon"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-3 bg-aqua">
                <p>
                <ul class="list-inline">
                    <li class="list-inline-item">預金種別</li>
                    <li class="list-inline-item"><img class="card-img card-img-top" src="images/icon_required.gif" alt="必須"></li>
                </ul>
                </p>
            </div>
            <div class="col-4 bg-lemonchiffon">
                <label>
                    <p th:if="${session.ykn} == '1'">普通預金</p>
                    <p th:if="${session.ykn} == '0'">当座</p>
                </label>
            </div>
            <div class="col-5 bg-lemonchiffon"> </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3 bg-aqua">
                <p>
                <ul class="list-inline">
                    <li class="list-inline-item">口座番号</li>
                    <li class="list-inline-item"><img class="card-img card-img-top" src="images/icon_required.gif" alt="必須"></li>
                </ul>
                </p>
            </div>
            <div class="col-4 bg-lemonchiffon">
                <label>
                    <p th:text="${session.actcd}"></p>
                </label>
            </div>
            <div class="col-5 bg-lemonchiffon"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-3 bg-aqua">
                <p>
                <ul class="list-inline">
                    <li class="list-inline-item">口座名義人</li>
                    <li class="list-inline-item"><img class="card-img card-img-top" src="images/icon_required.gif" alt="必須"></li>
                </ul>
                </p>
            </div>
            <div class="col-5 bg-lemonchiffon">
                <label>
                    <p th:text="${session.actnae}"></p>
                </label>
            </div>
            <div class="col-4 bg-lemonchiffon">
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <div class="custom-control custom-radio custom-control-inline">
            <p class="lead"> <a class="btn btn-danger btn-lg" href="/toA1A01WC01A01" role="button">戻る</a> </p>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <p class="lead"> <a class="btn btn-danger btn-lg" th:href="${session.kzkmlflg eq '11' ? '/toA1A01WB01A11' : '/toA1A01WD01A01'}" role="button">確定</a> </p>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-lg-6 offset-lg-3">
            <p>Copyright &copy; H &middot; All Rights Reserved &middot;</p>
        </div>
    </div>
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-3.2.1.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap-4.0.0.js"></script>
</body>
</html>
